.gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  cursor: pointer;
}

.gallery-item img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
}

.gallery-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #1abc9ce6; 
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.gallery-item .icon {
  color: white;
  font-size: 4rem;
  opacity: 0;
  transition: 0.3s ease;
}

.gallery-item:hover .overlay {
  opacity: 1;
}

.gallery-item:hover .icon {
  opacity: 1;
}
